.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #fff;
    
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 24px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
  }
  
  .header-icons {
    display: flex;
    gap: 16px;
    font-size: 18px;
  }
  @media (max-width: 848px) {
    .nav-links {
        display: none;
    }
  }
  