.product-page-wrapper {
  width:100%;
  height:100%;
}
.product-aside_wrapper {
  display: flex;
  gap: 20px;
}

@media (max-width: 448px) {
  .product-aside_wrapper {
    flex-direction: column;
  }
}
